<div class="group">
  <%= f.label :default_moderation_status %>
  <%= f.error_message_on :default_moderation_status %>
  <%= f.select :default_moderation_status, :options => ['published', 'featured'] %>
</div>

<div class="group">
  <%= f.label :url %><%= f.error_message_on :url %>
  <%= f.text_field :url, :class => :text_field %>
  <span class="description">Ex: http://foo.com/bar/blah.rss</span>
</div>

<div class="group">
  <%= f.label :wire %><%= f.error_message_on :wire %>
  <%= f.select :wire, :collection => @wires, :fields => [:name, :id]  %>
  <span class="description">Please choose a wire.</span>
</div>

<% if @feed and @feed.image_url %>
  <div class="group">
    <strong>Current default image:</strong> <br />
    <%= image_tag @feed.image_url("small") if @feed.image_url %>
  </div>
<% end %>

<div class="group">
  <%= f.label :image %><%= f.error_message_on :image %>
  <%= f.file_field :image %>
  <span class="description">Please upload a default image</span>
</div>

<div class="group navform wat-cf">
  <%= f.submit pat(:save), :class => :button %>
  <%= f.submit pat(:cancel), :onclick => "window.location='#{url(:feeds, :index)}';return false", :class => :button %>
</div>